# .dropbox
# .DS_Store
# .vs
/.idea
# /node_modules

# /**/beepbox*.js
# /**/beepbox*.js.map

/beepbox_offline.html
# /editor/*.js
# /player/*.js
# /synth/*.js
# /editor/*.js.map
# /player/*.js.map
# /synth/*.js.map
# /**/*.ts.bak
# /**/*.html.bak
# /build